<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Profile</title>
</head>

<body>
    <main>
        <section class="banner">
            <img src="./img/avatars/profile.png" alt="Placeholder">
            <h2>Hello <%= data.username %></h2>
        </section>

        <section class="data">
            <div class="card">
                <h2>Naam</h2>
                <p><%= data.username %></p>
            </div>
            <div class="card">
                <h2>Email</h2>
                <p><%= data.email %></p>
            </div>
        </section>
        <section class="buttons">
            <a href="/logout">
                <p>uitloggen</p>
            </a>
            <a href="/edit">
                <p>Bewerk profiel</p>
            </a>
        </section>
    </main>
</body>

</html>