* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

nav {
  width: 100%;
  background-color: #FFFFFF;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 -0.3rem 0 0 #e0119d;
}


nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.details {}

.details img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 4rem;
  border-radius: 50%;
}

.details h2 {
  text-align: center;
  font-size: 1rem;
}

.details h2:nth-child(3) {
  margin-bottom: 2rem;
}

.details a {
  color: white;
  text-decoration: none;
  display: block;
  background-color: black;
  padding: .3em;
  margin-bottom: 2vh;
  opacity: 0.9;
  transition: 1s;
  border-radius:5px;
  width: 50%;
  margin-left: 25%;
}

.details a p {
margin: 25px;
line-height: 1.3;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
text-align: center
}

@media screen and (min-width: 768px) {
  .details img {
    width: 10%;
  }

  .details a {
    width: 20%;
    margin-left: 40%;
  }

}